@import "tailwindcss";

@keyframes zoomIn {
  from {
    transform: scale(0.95);
  }
  to {
    transform: scale(1);
  }
}

html,
body,
#root {
  color: white;
  min-height: 100%;
  background-color: rgb(9 9 11);
}
